body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.sub-menu {
  background: #3e3e3e;
  color: #f7f7f7;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
}

header nav {
  padding: 14px;
}

.show-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-content a {
  text-decoration: none;
  border: 3px solid #ec5242;
  padding: 12px;
  color: #ec5242;
  transition: 0.4s;
}

.show-content a:hover {
  background: #ec5242;
  color: #fff;
  transition: 0.6s;
}

.menu-list {
  list-style: none;
  display: flex;
  gap: 24%;
  padding: 0 20px;
}

.text {
  padding: 0 12%;
}

.text p {
  font-size: 32px;
  color: #ec5242;
}

.text h1 {
  font-weight: 900;
  text-align: left;
  background-image: url(/assets/text-bg.png);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* mobile device */
@media only screen and (max-width: 768px) {
  .sub-menu {
    display: none;
  }

  header {
    min-height: 80vh;
    background: url(/assets/mobile-home-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .show-content {
    display: none;
  }
}

/* tablet device */
@media only screen and (min-width: 768px) {
  header {
    min-height: 80vh;
    background: url(/assets/home-bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  header nav {
    background: #fff;
  }

  .menu {
    display: none;
  }

  .text h1 {
    font-size: 3vw;
  }
}

/* desktop device */
@media only screen and (min-width: 1024px) {
  header {
    min-height: 80vh;
    background: url(/assets/home-bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  header nav {
    background: #fff;
  }

  .menu {
    display: none;
  }
}
